html,
body {
  padding: 0;
  margin: 0;


  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

body {
  /* background-image: url("https://m.timbu.com/img/h1411143/400/280/b1/jores-hotel-sanje-1411143-1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;

}

a {
  color: red;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}